---
interface Props {
    title: string;
    description?: string;
}

const {
    title = 'YouTube Search',
    description = 'Search your favorite YouTube videos without distractions.'
} = Astro.props as Props;
const url = Astro.url.pathname;
const site = Astro.site.origin;
const canonical = `${site}${url}/`.replace(/\/+$/, "/");
const thumbnail = `${canonical}thumbnail.jpg`;
const favicon = `/favicon.svg`;
---
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3EWTBJJ23C"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3EWTBJJ23C');
    </script>

    <!-- Basic Metadata -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{title}</title>
    <meta name="description" content={description}/>
    <meta name="robots" content="index, follow"/>
    <meta name="author" content="Jakub MachaÄ"/>

    <!-- Canonical & Sitemap -->
    <link rel="canonical" href={canonical}/>
    <link rel="sitemap" href="/sitemap-index.xml"/>

    <!-- Open Graph (Facebook & LinkedIn) -->
    <meta property="og:title" content={title}/>
    <meta property="og:description" content={description}/>
    <meta property="og:image" content={thumbnail}/>
    <meta property="og:image:secure_url" content={thumbnail}/>
    <meta property="og:image:width" content="3149"/>
    <meta property="og:image:height" content="3150"/>
    <meta property="og:url" content={canonical}/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="cs_CZ"/>

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content={title}/>
    <meta name="twitter:description" content={description}/>
    <meta name="twitter:image" content={thumbnail}/>

    <!-- Icons -->
    <link rel="icon" type="image/svg+xml" href={favicon}/>
    <link rel="image_src" href={favicon}/>

    <!-- Fallback for users with JavaScript disabled -->
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap">
    </noscript>
</head>